.container {
  padding: 20px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.application {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.application .messages {
  flex: 1;
  overflow-y: auto;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 12px 15vw;
  gap: 12px;
}

.application .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d3d3d3;
  background: #fafafa;
}

.application .header .title {
  font-weight: bold;
}

.application .chat-input {
  border-top: 1px solid #d3d3d3;
  background: #fafafa;
}

.clear-chat-btn {
  cursor: pointer;
}
